---
import { Head } from "@/shared/components/head";

import "@/styles/global.css";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<Head {title} {description} />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>
